<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Thymeleaf Namespace -->

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout Classement </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href = "style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<header th:insert="fragment/header :: header(barnav)"></header>
<div class="container-fluid h-100">
<div class="row h-100">

<div class="col-lg-2 col-xl-1 p-0 d-none d-lg-block"  th:insert="fragment/LateralNav :: nav(lateralnav)"></div>


<div class="col-10">
<div class="card" style="width: 50rem; justify-content: center ; align-content: center; background: whitesmoke; ">
    <img src="assets/Banniere.jpg" class="card-img-top"  alt="...">
    <div class="card-body">
   <form  th:action="@{/addClassement}"
          th:object="${addClassement}" method="POST">
        <div class="form-group">
      <label for="exampleFormNamePilote">
          <h1>Nom pilote :</h1>
      </label>
        <input type="text" class="form-control" id="exampleFormNamePilote" placeholder="Nom Pilote" th:field="*{nom_pilote}"/>
        </div>
        <div class="form-group">
            <label for="exmapleFormNameEcurie">
                <h1>Nom ecurie :</h1>
            </label>
        <input type="text" class="form-control" id="exmapleFormNameEcurie" placeholder="Nom Ecurie" th:field="*{nom_ecurie}"/>
        </div>
        <div class="form-group">
            <label for="exampleFormPlace">
                <h1>place :</h1>
            </label>
        <input type="number" class="form-control" id="exampleFormPlace" placeholder="Place" th:field="*{place}"/>
        </div>
        <div class="form-group">
            <label for="exampleFormCircuit">
                <h1>Circuit :</h1>
            </label>
        <select multiple class="form-control" id="exampleFormCircuit" type="text" th:field="*{circuit}"/>
            <option value="Austalie">Australie</option>
            <option value="Chine">Chine</option>
            <option value="Espagne">Espagne</option>
           </div>
       <div class="radio-button">
           <input type="radio" clas="custom-control-input" id="group1" >
           <label class="custom-control-label" for="group1">Nouveau</label>
       </div>
       <div class="radio-button">
           <input type="radio" id="group2">
           <label class="custom-control-label" for="group2">Modification</label>
       </div>

       </form>
    <input type="submit" class="btn btn-light" value="Create"/>
    </div>
</div>
    </div>
</div>
</div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>