<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Thymeleaf Namespace -->

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>
<body>
<header th:insert="fragment/header :: header(barnav)"></header>
<div class="container-fluid h-100">
    <div class="row h-100">

        <div th:insert="fragment/LateralNav :: nav(lateralnav)"></div>

        <!-- Formulaire pour l'ajout d'un pilote -->
        <div class="col-5">
            <div class="card"
                 style="width: 50rem; justify-content: center ; align-content: center; background: whitesmoke; ">
                <img alt="..." class="card-img-top" src="assets/Banniere.jpg">
                <div class="card-body">
                    <form method="POST"
                          th:action="@{/addPilote}" th:object="${pilote}">
                        <div class="form-group" th:class="${#fields.hasErrors('nomPilote')}? has-error">
                            <label for="NamePilote">
                                <h1>Nom pilote :</h1>
                            </label>
                            <input class="form-control" id="NamePilote" placeholder="Nom Pilote" th:field="*{nomPilote}"
                                   type="text"/>
                            <span th:errorclass="fieldError" th:errors="*{nomPilote}"
                                  th:if="${#fields.hasErrors('nomPilote')}">Erreur Nom Pilote</span>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('nomEcurie')}? has-error">
                            <label for="nameEcurie">
                                <h1>Nom ecurie :</h1>
                            </label>
                            <input class="form-control" id="nameEcurie" placeholder="Nom Ecurie" th:field="*{nomEcurie}"
                                   type="text"/>
                            <span th:errorclass="fieldError" th:errors="*{nomEcurie}"
                                  th:if="${#fields.hasErrors('nomEcurie')}">Erreur Nom d'écurie</span>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('integration')}? has-error">
                            <label for="DateIntegration">
                                Date d'intégration
                            </label>
                            <input class="form-control" id="DateIntegration" placeholder="Date d'intégration"
                                   th:field="*{integration}" type="text"/>
                            <span th:errorclass="fieldError" th:errors="*{integration}"
                                  th:if="${#fields.hasErrors('integration')}">Erreur de date d'intégration</span>

                        </div>


                        <input class="btn btn-light" type="submit" value="Create"/>
                    </form>

                </div>
            </div>
        </div>

        <!-- Mise en place d'un tableau avec toutes les information liée a la table pilote -->

        <div class="col-5">
            <div card>
                <div class="table table-white">
                    <thead>
                    <tr>
                        <th scope="col">N°Pilote</th>
                        <th scope="col">Nom Pilote</th>
                        <th scope="col">Nom Ecurie</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="listPilote : ${listPilote}">
                        <td><span th:text="${pilote.getIdPilote()}">N°Pilote</span></td>
                        <td><span th:text="${pilote.getNomPilote()}">Nom Pilote</span></td>
                        <td><span th:text="${pilote.getNomEcurie()}">Nom Ecurie</span></td>
                    </tr>
                    </tbody>

                </div>
            </div>

        </div>
    </div>
</div>


<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>