<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Thymeleaf Namespace -->

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>
<body>
<header th:insert="fragment/header :: header(barnav)"></header>
<div class="container-fluid h-100">
    <div class="row h-100">



        <!-- Formulaire pour l'ajout d'un pilote -->
        <div class="col-5">
            <div class="card"
                 style="max-width: 100%; height: auto; display: block; justify-content: center ; align-content: center; background: whitesmoke; ">
                <img alt="..." class="card-img-top" src="assets/Banniere.jpg">
                <div class="card-body">
                    <form method="POST"
                          th:action="@{/addPilote}" th:object="${pilote}">
                        <div class="form-group" th:class="${#fields.hasErrors('nomPilote')}? has-error">
                            <label for="NamePilote">
                                <h1>Nom pilote :</h1>
                            </label>
                            <input class="form-control" id="NamePilote" placeholder="Nom Pilote" th:field="*{nomPilote}"
                                   type="text"/>
                            <span th:errorclass="fieldError" th:errors="*{nomPilote}"
                                  th:if="${#fields.hasErrors('nomPilote')}">Erreur Nom Pilote</span>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('nomEcurie')}? has-error">
                            <label for="nameEcurie">
                                <h1>Nom ecurie :</h1>
                            </label>
                            <input class="form-control" id="nameEcurie" placeholder="Nom Ecurie" th:field="*{nomEcurie}"
                                   type="text"/>
                            <span th:errorclass="fieldError" th:errors="*{nomEcurie}"
                                  th:if="${#fields.hasErrors('nomEcurie')}">Erreur Nom d'écurie</span>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('integration')}? has-error">
                            <label for="DateIntegration">
                                Date d'intégration
                            </label>
                            <input class="form-control" id="DateIntegration" placeholder="Date d'intégration"
                                   th:field="*{integration}" type="text"/>
                            <span th:errorclass="fieldError" th:errors="*{integration}"
                                  th:if="${#fields.hasErrors('integration')}">Erreur de date d'intégration</span>

                        </div>


                        <input class="btn btn-light" type="submit" value="Create"/>
                    </form>

                </div>
            </div>
        </div>

        <!-- Mise en place d'un tableau avec toutes les information liée a la table pilote -->

        <div class="col-5">
            <div card>
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">N°Pilote</th>
                        <th scope="col">Nom Pilote</th>
                        <th scope="col">Nom Ecurie</th>
                        <th scopte="col">Date Integration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <tr th:each="pilote : ${listPilote}">
                        <td><span th:text="${pilote.idPilote}"></span></td>
                        <td><span th:text="${pilote.nomPilote}"></span></td>
                        <td><span th:text="${pilote.nomEcurie}"></span></td>
                        <td><span th:text="${pilote.integration}"></span></td>
                    </tr>
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>

<footer th:insert="fragment/footer :: footer"></footer>
</body>

</html>