<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Thymeleaf Namespace -->

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>
<body>
<header th:insert="fragment/header :: header(barnav)"></header>
<div class="container-fluid h-100">
    <div class="row h-100">

        <div th:insert="fragment/LateralNav :: nav(lateralnav)"></div>

        <!-- Formulaire pour l'ajout d'un pilote -->
        <div class="col-5">
            <div class="card"
                 style="width: 50rem; justify-content: center ; align-content: center; background: whitesmoke; ">
                <img src="assets/Banniere.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <form th:action="@{/addPilote}"
                          th:object="${pilote}" method="POST">
                        <div class="form-group">
                            <label for="NamePilote">
                                <h1>Nom pilote :</h1>
                            </label>
                            <input type="text" class="form-control" id="NamePilote" placeholder="Nom Pilote"
                                   th:field="*{nomPilote}"/>
                        </div>
                        <div class="form-group">
                            <label for="nameEcurie">
                                <h1>Nom ecurie :</h1>
                            </label>
                            <input type="text" class="form-control" id="nameEcurie" placeholder="Nom Ecurie"
                                   th:field="*{nomEcurie}"/>
                        </div>
                        <div class="form-group">
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                                <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                            </div>
                            <label for="DateIntegration">
                                Date d'intégration
                            </label>
                            <input class="form-control" id="DateIntegration" placeholder="Date d'intégration"
                                   th:field="*{integration}" type="text"/>
                            </label>

                        </div>


                        <input type="submit" class="btn btn-light" value="Create"/>
                    </form>

                </div>
            </div>
        </div>

        <!-- Mise en place d'un tableau avec toutes les information liée a la table pilote -->

        <div class="col-5">
            <div card>
                <div class="table table-dark">
                    <tr>
                        <th scope="col">N°Pilote</th>
                        <th scope="col">Nom Pilote</th>
                        <th scope="col">Nom Ecurie</th>
                    </tr>

                </div>
            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>