<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Thymeleaf Namespace -->

<html xmlns:th="http://www.thymeleaf.org">

<body>
<header th:insert="fragment/header :: header(barnav)"></header>
<div class="container-fluid h-100">
    <div class="row h-100">

        <div th:insert="fragment/LateralNav :: nav(lateralnav)"></div>

            <!-- Formulaire pour l'ajout d'un résultat -->

        <div class="col-10">
            <div class="card" style="width: 50rem; justify-content: center ; align-content: center; background: whitesmoke; ">
                <img src="../static/assets/Banniere.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <form  th:action="@{/ResultatCourse}"
                           th:object="${resultatsCourse}" method="POST">
                        <div class="form-group">
                            <label for="exampleFormNamePilote">
                                <h1>Nom pilote :</h1>
                            </label>
                            <!-- Mise en place d'une liste des pilotes inscrit dans la bdd (table : pilote) -->
                            <!-- Renvoi de l'id_pilote liée à la bdd (table : pilote)  -->
                            <input type="text" class="form-control" id="exampleFormNamePilote" placeholder="Nom Pilote" th:field="*{nom_pilote}"/>
                        </div>
                        <div class="form-group">
                            <label for="exmapleFormNameEcurie">
                                <h1>Nom ecurie :</h1>
                            </label>
                            <input type="text" class="form-control" id="exmapleFormNameEcurie" placeholder="Nom Ecurie" th:field="*{nom_ecurie}"/>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormPlace">
                                <h1>Date d'intégration :</h1>
                            </label>
                            <input type="date" class="form-control" id="exampleFormPlace" placeholder="Date d'intégration" th:field="*{date_integration}"/>
                        </div>
                        <div class="radio-button">
                            <input type="boolean" clas="custom-control-input" id="group1">
                            <label class="custom-control-label" for="group1">Nouveau</label>

                            <input type="boolean" clas="custom-control-input" id="group2">
                            <label class="custom-control-label" for="group2">Modification</label>
                        </div>

                    </form>
                    <input type="submit" class="btn btn-light" value="Create"/>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>


</html>