<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Thymeleaf Namespace -->

<html xmlns:th="http://www.thymeleaf.org">

<body>
<header th:insert="fragment/header :: header(barnav)"></header>
<div class="container-fluid h-100">
    <div class="row h-100">

        <div th:insert="fragment/LateralNav :: nav(lateralnav)"></div>

        <!-- Formulaire pour l'ajout d'un résultat -->

        <div class="col-10">
            <div class="card"
                 style="width: 50rem; justify-content: center ; align-content: center; background: whitesmoke; ">
                <img src="../static/assets/Banniere.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <form th:action="@{/addResultat}"
                          th:object="${resultatCourse}" method="POST">
                        <div class="form-group">
                            <label for="NamePilote">
                                <h1>Id Pilote :</h1>
                            </label>
                            <!-- Mise en place d'une liste des pilotes inscrit dans la bdd (table : pilote) -->
                            <!-- Renvoi de l'id_pilote liée à la bdd (table : pilote)  -->
                            <input type="text" class="form-control" id="NamePilote" placeholder="Nom Pilote"
                                   th:field="*{id_pilote}"/>
                        </div>
                        <div class="form-group">
                            <label for="NameEcurie">
                                Circuit :
                            </label>
                            <input type="text" class="form-control" id="NameEcurie" placeholder="Nom Ecurie"
                                   th:field="*{circuit}"/>
                        </div>
                        <div class="form-group">
                            <label for="Place">
                                Place :
                            </label>
                            <input class="form-control" id="Place" placeholder="place" type="number"
                                   th:field="*{place}"/>


                            <input type="submit" class="btn btn-light" value="Create"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>