<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Thymeleaf Namespace -->
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<body>
<header th:insert="fragment/header :: header(barnav)"></header>
<div class="container-fluid h-100">
    <div class="row h-100">


        <!-- Formulaire pour l'ajout d'un résultat -->

        <div class="col-10">
            <div class="card"
                 style="max-width: 100%; display: block; height: auto; justify-content: center ; align-content: center; background: whitesmoke; ">
                <img alt="..." class="card-img-top" src="assets/Banniere.jpg">
                <div class="card-body">
                    <form method="POST"
                          th:action="@{/addResultat}" th:object="${resultatCourse}">
                        <div class="form-group">
                            <label for="NameCircuit">
                                Circuit :
                            </label>
                            <select class="form-control" id="NameCircuit" th:field="*{circuit}">
                                <option th:text="Australie" th:value="Australie"></option>
                            </select>
                        </div>
                        <fieldset>
                            <table>
                                <thead>
                                <tr>
                                    <th>Nom Pilote</th>
                                    <th>Place</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pilote : ${listPilote}">
                                    <td><input hidden th:field="${resultatCourse.id_pilote}"
                                               th:value="${pilote.idPilote}"></td>
                                    <td><span th:text="${pilote.nomPilote}"></span></td>
                                    <td><input th:field="${resultatCourse.place}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </fieldset>


                        <input class="btn btn-light" type="submit" value="Create"/>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragment/footer :: footer"></footer>
</body>


</html>