<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">

    <header th:insert="fragment/header :: header(~{ :: .breadcrumb})"></header>
<body>
<div class = "row">
    <nav class ="col-1" th:insert="fragment/LateralNav "></nav>


    <!-- Tableau a créer avec le cumul des points par pilotes -->
    <!-- Tableau a créer avec le cumul des points par écuries -->
    <!-- Tableau a créer avec le résultat de tout les pilotes sur un circuit choisi -->


    <!-- Tableau récapitulatif des infos présent dans la bdd -->
<div class="classement">
    <div class="jumbotron" id="ajout">
        <h1 class="center">
        <a href="addClassement"> Ajout d'un classemement</a>
        </h1>
    </div>
        <div class="table table-dark">
        <table border="1">
            <tr class = "center">
                <th scope="col">Nom Pilote</th>
                <th scope="col">Ecurie</th>
                <th scope="col">points</th>
                <th scope="col">circuit</th>
            </tr>
            <tr class = "center" th:each = "Classement : ${Classement}">
                <td class="center" th:utext="${Classement.nom_pilote}">...</td>
                <td class="center" th:utext="${Classement.nom_ecurie}">...</td>
                <td class="center" th:utext="${Classement.place}">...</td>
                <td class="center" th:utext="${Classement.circuit}">...</td>
                <td class="center" th:utext="${Classement.modificateur}">...</td>
            </tr>
        </table>
        </div>
    </div>
</div>
</div>
</div>


</body>
</html>