<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Thymeleaf Namespace -->

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/block :: headerFragment"></head>

<header th:insert="fragment/header :: header(barnav)"></header>

<body>

<div card>
    <table>
        <thead>
        <tr>
            <th scope="col">Pilote</th>
            <th scope="col">Point</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <
        </tr>
        </tbody>
    </table>
</div>


<footer th:insert="fragment/footer :: footer"></footer>
</body>
</html>